body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Roboto';
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    padding: 0 50px;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 15px;
    padding: 5px;
    align-items: center;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.top-content {
    flex: 1;
    display: flex;
    background-color: #1F2937;
    color: #E5E7EB;
    padding: 50px;
}

.text-sign-up {
    font-size: 18px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin: 0;
}

.top-signup {
    width: 75px;
    border-radius: 5px;
    background-color: #3882F6;
    color: #E5E7EB;
    padding: 5px;
    font-weight: bold;
}

.image-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; /* Prevent overflow if needed */
}

.image-container img {
  height: 200px;         /* Match height of the container */
  width: auto;          /* Maintain aspect ratio */
}